@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

:root{
	--color-negro:#282d33;
	--color-naranja: #f7b614;
	--color-titulos:#2a2a32;
	--color-contenido: #AAA;
}
body{
	color:var(--color-contenido);
}

header{
	position: relative;
	background-color: #282932;
	width: 100%;
	top:0;
	border-bottom: 1px dashed rgba(255, 255, 255, 0.15);
}

header{
	padding: 20px 0;
	border-bottom: 1px solid #ddd;
}
header img{
	width: 70px;
} 

#hero{
	background-image: url("../img/footer-bg.png");
	background-color: var(--color-negro);
}
#hero h2{
	font-size:30px;
	margin-bottom: 0;
	font-weight: 800;
	color:#FFFFFF;
}

h1,h2,h3,h4,h5,h6{
	color: var(--color-titulos);
}

#hero h1{
	font-size: 70px;
	font-weight: 900;
	margin-top: -10px;
	color: #f7b614;
}

#hero{
	padding: 80px 0;
}

.margen-superior{
	margin-top: 70px;
}

#hero p{
	font-size: 20px;
	margin-top: 40px;
	color: #FFFFFF;
}

#hero .btn{
	border: 2px solid var(--color-naranja);
	border-radius: 30;
	color: var(--color-negro);
	font-weight: 500;
	padding: 15px 50px;
}
#hero .btn{
	border-color: #282d33;
	color: #282d33;
	background-color: #f7b614;
}

#secciones{
	text-align: center;
	padding: 80px 0;
}

#secciones h1{
	font-size: 15px;
	font-weight: 700;
	margin-top: -10px;
	color: #f7b614;
}

#secciones h2{
	font-size: 50px;
	font-weight: 900;
	margin-top: -10px;
	color: var(--color-negro);
}

#secciones h3,h6{
	font-size: 20px;
}

#secciones h5{
	font-size: 15px;
	color: #898686;
}

#secciones2{
	background-color: var(--color-negro);
}

#secciones2 h2{
	padding-top: 40px;
	padding-left: 40px;
	font-weight: 600px;
	font-size: 40px;
	color:#FFFFFF;
}

#secciones2 h3{
	color: var(--color-naranja);
	padding-left: 40px;
	font-size: 60px;
	font-weight: 700;
}

#secciones2 p{
	padding-left: 40px;
	font-weight: 30px;
	font-size: 15px;
	color:#FFFFFF;
}

#secciones2 h1{
	text-align: center;
	font-weight: 20px;
	font-size: 15px;
	color:#FFFFFF;
}

#secciones2 .btn{
	border: 2px solid var(--color-naranja);
	border-radius: 30;
	color: var(--color-negro);
	font-weight: 500;
	padding: 15px 50px;
	border-color: #282d33;
	color: #282d33;
	background-color: #f7b614;
	
}
footer{
	background-color: #282932;
	background-image: url(../img/footer-bg.png);
	background-size: cover;
	padding-top: 40px;
	color: rgba(255, 255, 255, 0.55);
	text-align: center;
	font-size: 13px;
	font-weight: 600;
}
footer p span{
	color: #f7b614;
}
footer #copy{
	padding: 20px 0;
	margin-top: 5%;
	color: #fff;
	border-top: 1px dashed rgba(255, 255, 255, 0.15);
}
